server:
  port: 8081

spring:
  application:
    name: eventsourcing-cqrs-query
  datasource:
    url: jdbc:postgresql://localhost:5432/query
    username: query
    password: query
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      platform: postgres

axon:
  serializer:
    general: jackson
  axonserver:
    servers: localhost:8124


logging.level.Query: debug
logging.level.org.axonframework: debug