server:
  port: 8080

spring:
  application:
    name: eventsourcing-cqrs-command
  datasource:
    url: jdbc:postgresql://localhost:5432/command
    username: command
    password: command
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  sql:
    init:
      platform: postgres

axon:
  serializer:
    general: xstream
  axonserver:
    servers: localhost:8124

logging.level.command: debug
logging.level.org.axonframework: debug